$fuente_principal: "Karla", sans-serif;

$negro: black;
$Cyan: hsl(179, 62%, 43%);
$LightCyan:#49BEBD;
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);
$White: #FFFFFF;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;